.CommButton {
  /* 인라인 스타일에서 가져온 속성들 */
  background-color: #f29bb8 !important; /* 배경색 */
  color: white !important; /* 글자색 */
  border-radius: 8px !important; /* 모서리 둥글게 */
  border-color: white !important; /* 테두리 색상 */
  padding: 5px 15px;
  cursor: pointer;
}
.CommBorder {
  background-color: white !important; /* 배경색 */
  padding: 5px 15px;
  border-color: #f29bb8 !important; /* 테두리 색상 */
  border-radius: 4px !important; /* 모서리 둥글게 */
  border-width: 3px !important; /* 모서리 둥글게 */
}
